<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/InfoCodeStreamly/AIMeter/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>lzP8Y4qTrfaAo+j/SG3+rZr7Munhi94FBchGtU08Mn8=</string>
</dict>
</plist>
